#postComment{
    border-radius: 12px;
    border: 1px solid black;
}
#commentBtn{
    margin-left: 10px;
    background-color: slategray;
    color: white;
    border-radius: 12px;
    border: 1px;
}
#commentBtn:hover{
    background-color: cornflowerblue;
    color: white;
    border-radius: 12px;
    border: 1px;
}

